<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Si la solicitud NO es un archivo o carpeta existente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirige todo a index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>